body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.head{
    padding: 16px;
}
.foot{
    position: relative;
}
.foot>.pagination{
    margin: 0 0;
    position: absolute;
    right: 30px;
}